body {
    color: darkseagreen;
    background-color: black;

}

head {
    font-family: 'Franklin Gothic Medium';
    background-color: black;
    align-items: center;
}
#recipes {
    align-items: center;
}