* {
    border: 2px solid green;
}
body {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    
}

#soma {
    height: 509px;
    width: 500px;
    border-radius: 10%;
    border-style: groove;

}

#header {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    background-color: rgb(0, 255, 8);
    
}
/*this is the header that contains odin special recipes title*/

head {
    font-family: 'Franklin Gothic Medium';
    background-color: rgb(0, 255, 55);
}

#recipes {
   background-color: rgb(32, 176, 32);
   display: flex;
}